<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Session edit Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
</head>
<body>
<div>
    Dear <span th:text="${person.firstName}">Customer</span> <span th:text="${person.lastName}"></span>
    <p>
        Session <span th:text="${sessionId}">1</span> is removed.
        <br/>
    </p>
</div>
<br/>
Thank You
<br/>
<br/>
<b><i>Earth Team</i></b>
</body>
</html>